.env
.env.local
.env.*.local
.git
.gitignore
.env.example
.env.railway
node_modules
npm-debug.log
yarn-error.log
tests
.phpunit.result.cache
phpmetrics-report
.scannerwork
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.editorconfig
.gitlab-ci.yml
Dockerfile.dev
docker-compose.yml
docker-compose.*.yml
